SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=24_project@raf-advanced.sa
SMTP_PASS=Maraseel@12
MONGODB_URI=mongodb+srv://yussefaliit:VOgctOW8wYt43J8W@cluster0.kh1mn12.mongodb.net/24_project?retryWrites=true&w=majority&appName=Cluster0

# بريد المستلم (يمكن أن يكون نفس بريد المرسل أو بريد مختلف)
RECIPIENT_EMAIL=24_project@raf-advanced.sa
# JWT Configuration
JWT_SECRET=jeddah_real_estate_project_24_super_secret_key_2024_very_secure
JWT_EXPIRES_IN=7d

ADMIN_EMAIL=admin@project24.sa
ADMIN_PASSWORD=Admin@2024!